.Footer{
    padding: 10px;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}